<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VR Healthcare | Virtually Healthy!</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="index.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="./src/script.js"></script>
    <script defer src="./src/app.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Carter+One&family=Concert+One&family=Kanit:wght@300;500&family=Lobster&family=Lobster+Two:ital@1&family=Londrina+Solid:wght@100&family=Mirza:wght@600&family=Montserrat:wght@600&family=Roboto+Condensed:wght@700&family=Sigmar&family=Vina+Sans&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Carter+One&family=Concert+One&family=Kanit:wght@500&family=Lobster&family=Lobster+Two:ital@1&family=Londrina+Solid:wght@100&family=Mirza:wght@600&family=Sigmar&family=Vina+Sans&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Carter+One&family=Concert+One&family=Dela+Gothic+One&family=Kanit:wght@300;500&family=Lobster&family=Lobster+Two:ital@1&family=Londrina+Solid:wght@100&family=Mirza:wght@600&family=Montserrat:wght@600&family=Roboto+Condensed:wght@700&family=Sigmar&family=Vina+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=League+Gothic&family=League+Spartan:wght@600&family=Montserrat&family=Playfair+Display:ital,wght@1,500&family=Poppins:wght@600&family=Titillium+Web&family=Ysabeau+Infant:wght@200&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/e296fc494b.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="https://kit.fontawesome.com/e296fc494b.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <div id="header">
        <div class="container">
            <nav>
                <!-- <img src="./images/logo.png" class="logo"> -->
                <ul>
                    <li><a href="#header">Home </a></li>
                    <!-- <li><a href="#skills"></a></li> -->
                    <li><a href="#about">About Us</a></li>
                    <!-- <li><a href="#projects">Projects</a></li> -->
                    <li><a href="#portfolio">AI</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <hr>

                </ul>

            </nav>
            <div class="header-text">
                <h1>VR Healthcare.</h1>
            </div>
            <!-- <button class="btn-login" onclick="login()">Log In</button> -->
            <div class="wrapper">
                <div class="cols cols0">
                    <!-- <span class="topline">Hello</span><br> -->
                    <!-- <h3 class="name1">Welcome to</h3><br> -->
                    <!-- <span class="naam"><span class="naam1">Achyuthan</span> Sivasankar</span> -->
                    <h1 class="multi"><span class="multitext"> </span></h1>
                </div>
            </div>
            <div class="social-icons1">
                <a href="https://www.linkedin.com/in/achyuthan-sivasankar-b0814b221/"><i class="fab fa-linkedin"></i></a>
                <a href="https://wa.me/9845341031"><i class="fab fa-whatsapp"></i></a>
                <a href="https://twitter.com/@achyuthan_s"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/achyuthan.s/"><i class="fab fa-instagram"></i></a>

             </div>
            <hr>
            <!-- <img src="./images/line.jpg" class="line"> -->

        </div>

        <!-- <hr class="head"> -->

    </div>
    <!-- -------------About--------------- -->
    <!-- <div id="about">
        <section class="container">
            <h2 class="title">
                <span class="primary">ABOUT </span>
                <span class="secondary">
                    About Us
                </span>
            </h2>
            <section class="">
                <p class="about-style">Welcome to our botanical haven, where we specialize in the swift identification of plant diseases and offer tailored solutions for vibrant and thriving greenery. <br>
                    <br>Our cutting-edge technology and expert analysis empower us to diagnose ailments accurately, ensuring your plants receive the care they deserve. From pesky pests to mysterious fungi, we unveil the secrets behind plant distress and provide actionable remedies.<br>
                    <br> Join us in cultivating healthier gardens, one diagnosis at a time. Let your plants flourish under our dedicated guidance, as we nurture a community committed to sustainable and disease-free horticulture. Welcome to a world where your garden's well-being is our top priority....<br></p> <br>
                
                </section>


            <div class="gallery-wrapper1">
                <figure class="gallery-item">
                    <img src="./images/plant1.jpg" alt="" class="item-image" />
                    <figcaption class="item-description">
                        <h2 class="name">Fields</h2>
                        <span class="role"></span>
                    </figcaption>
                </figure>
                <figure class="gallery-item1">
                    <img src="./images/plant2.jpg" alt="" class="item-image" />
                    <figcaption class="item-description">
                        <h2 class="name">of</h2>
                        <span class="role"></span>
                    </figcaption>
                </figure>
                <figure class="gallery-item">
                    <img src="./images/plant3.jpg" alt="" class="item-image" />
                    <figcaption class="item-description">
                        <h2 class="name">Fortune,</h2>
                        <span class="role"></span>
                    </figcaption>
                </figure>
                <figure class="gallery-item1">
                    <img src="./images/plant4.jpg" alt="" class="item-image" />
                    <figcaption class="item-description">
                        <h2 class="name">Farmers</h2>
                        <span class="role"></span>
                    </figcaption>
                </figure>
                <figure class="gallery-item">
                    <img src="./images/plant5.jpg" alt="" class="item-image" />
                    <figcaption class="item-description">
                        <h2 class="name">First.</h2>
                        <span class="role"></span>
                    </figcaption>
                </figure>
               
        </section>

    </div> -->
    <section>
    <div class="container">
        <h1>Upload Sensor readings in JSON format</h1>
        <form id="uploadForm" action="/predict" method="post" enctype="multipart/form-data">
            <label for="input_text">Enter phobia (if appicable):</label>
            <input type="text" name="text" >
            <input type="file" name="file" accept=".json">
            <button type="submit" >Upload and Predict</button>
        </form>
        <div class="result" id="resultContainer">
            <!-- Results will be displayed here -->
        </div>
    </div>
    </section>
    <!-- -------------------------------------------- -->
    <div id="portfolio">
        <div class="container">
            <div class="sub-titleee1">#Sections</div>
            <div class="work-list">
                <div class="work">
                    <img src="{{ url_for('static', filename='images/vr1.jpg') }}" alt="">
                    <div class="layer">
                        <h3>Image Generation</h3>
                        <p>Upload to generate images.</p>
                        <a href="flaskProject/templates/image.html"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="{{ url_for('static', filename='images/vr2.jpg') }}" alt="">
                    <div class="layer">
                        <h3>Music</h3>
                        <p>This skill deals with mostly designing of websites or apps.</p>
                        <a href="https://www.simplilearn.com/what-is-ui-ux-design-and-difference-between-ux-and-ui-article"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="{{ url_for('static', filename='images/vr1.jpg') }}" alt="">
                    <div class="layer">
                        <h3>Web 3.0 </h3>
                        <p>This is the next generation block-chain web development. </p>
                        <a href="https://www.geeksforgeeks.org/decentralized-web-web3/"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
            </div>
            <a href="#" class="btn">See more</a>
            <!-- <div class="wrapper">
            <input type="checkbox" id="btnBox">
            <ul>
                <li style="background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fhatrabbits.com%2Fen%2Frandom-image%2F&psig=AOvVaw0RrK2KbvhSfKBg5rzxzqni&ust=1682929443208000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCJCUl_CW0f4CFQAAAAAdAAAAABAE)"></li>
                <li style="background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fhatrabbits.com%2Fen%2Frandom-image%2F&psig=AOvVaw0RrK2KbvhSfKBg5rzxzqni&ust=1682929443208000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCJCUl_CW0f4CFQAAAAAdAAAAABAE)"></li>
                <li style="background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fhatrabbits.com%2Fen%2Frandom-image%2F&psig=AOvVaw0RrK2KbvhSfKBg5rzxzqni&ust=1682929443208000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCJCUl_CW0f4CFQAAAAAdAAAAABAE)"></li>
                <li style="background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fhatrabbits.com%2Fen%2Frandom-image%2F&psig=AOvVaw0RrK2KbvhSfKBg5rzxzqni&ust=1682929443208000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCJCUl_CW0f4CFQAAAAAdAAAAABAE)"></li>
            </ul>
            <label for="btnBox" class="btn-area">
                <span class="btn1">LOAD MORE </span>
                <span class="btn2">LOAD LESS </span>
            </label>
    
        </div> -->
    
            
        </div>

     <!-- -------------Portfolio--------------- -->
     <!-- <div id="portfolio">
        <div class="container">
            <h1 class="sub-title1">Explore</h1>
            <div class="work-list">
                <div class="work">
                    <img src="./images/plant1.jpg" alt="">
                    <div class="layer">
                        <h2 class="h22">Plant-disease detection</h2>
                        <p>Detect your plant disease and obtain the cure to it.</p>
                        <a href="./detect.html"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="./images/plant3.jpg" alt="">
                    <div class="layer">
                        <h2 class="h22">Plant identification</h2>
                        <p>Know your plant well.</p>
                        <a href="./identify.html"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="./images/plant5.jpg" alt="">
                    <div class="layer">
                        <h2 class="h22">Newsletter</h2>
                        <p>Know the latest updates on the plants and their fertilizers. </p>
                        <a href="https://www.geeksforgeeks.org/decentralized-web-web3/"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
            </div>
            <br><br><br> -->
            <!-- <button id="btn-login" disabled="true" onclick="login()">Log in</button>
            <button id="btn-logout" disabled="true" onclick="logout()">Log out</button> -->

            <!-- <a href="#" class="btn">See more</a> -->
            <!-- ---------------------------------------------------------- -->
    <!-- <div id="social-cards">
        <section class="container0"> -->
            <!-- <section class="wrapper0">
                <div id="stars"></div>
                <div id="stars2"></div>
                <div id="stars3"></div>
           </section> -->
            <!-- <div class="cards">

                <div class="card0 twitter">
                    <h2 class="card0-title-large">Twitter</h2>
                    <h3 class="card0-title-small">Twitter</h3>
                    <p class="card0-description">
                        Follow me on Twitter to know more about me..
                    </p>
                    <a href="https://twitter.com/@achyuthan_s" class="card0-cta1">&rarr;</a>
                </div>
                <div class="card0 instagram">
                    <h2 class="card0-title-large">Instagram</h2>
                    <h3 class="card0-title-small">Instagram</h3>
                    <p class="card0-description">
                        Follow me on Insta to know more about me..
                    </p>
                    <a href="https://www.instagram.com/achyuthan.s/" class="card0-cta1">&rarr;</a>
                </div>

                <div class="card0 facebook">
                    <h2 class="card0-title-large">Github</h2>
                    <h3 class="card0-title-small">Github</h3>
                    <p class="card0-description">
                        Open to see my account..
                    </p>
                    <a href="https://www.facebook.com/" class="card0-cta1">&rarr;</a>
                </div>

                <div class="card0 LinkedIn">
                    <h2 class="card0-title-large">LinkedIn</h2>
                    <h3 class="card0-title-small">LinkedIn</h3>
                    <p class="card0-description">
                        Follow me on LinkedIn to know more about me..
                    </p>
                    <a href="https://www.linkedin.com/in/achyuthan-sivasankar-b0814b221/" class="card0-cta1">&rarr;</a>
                </div>
            </div>
        </section>
        <section class="container00">
            <div class="scroll">
              <div class="RightToLeft">
                <p class="infintescroll">Rooted in Wellness: Unmasking Plant Health Secrets!</p>
                <p class="infintescroll">Rooted in Wellness: Unmasking Plant Health Secrets!</p>
              </div>
              <div class="LeftToRight">
                <p class="infintescroll">Green Vigilance: Where Leaves Speak, We Listen!</p>
                <p class="infintescroll">Green Vigilance: Where Leaves Speak, We Listen!</p>
              </div>
            </div>
          </section>
          
        </div> -->
        <!-- ------------------contact me-----------------
        <div id="contact">
            <div class="contact">
                <div class="container">
                    <div class="row">
                        <div class="contact-left">
                            <h1 class="sub-ti"> Contact </h1>
                            <p><i class="fa-solid fa-paper-plane"></i><font color="white">achyuthan.sivasankar@gmail.com</font></p>
                            <p><i class="fa-solid fa-phone"></i><font color="white">+91 9845341031</font></p>
                             <div class="social-icons">
                                <a href="https://www.linkedin.com/in/achyuthan-sivasankar-b0814b221/"><i class="fab fa-linkedin"></i></a>
                <a href="https://wa.me/9845341031"><i class="fab fa-whatsapp"></i></a>
                <a href="https://twitter.com/@achyuthan_s"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/achyuthan.s/"><i class="fab fa-instagram"></i></a>

                             </div>
                             <a href="" class="button">Download CV</a>

                        </div>
                        <div class="contact-right">
                        <form>
                            <input type="text" name="Name" placeholder="Your Name" required>
                            <input type="email" placeholder="Your Email" required>
                            <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
                            <button type="submit" class="btn btn2">Submit</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
            <script>
                var tablinks = document.getElementsByClassName("tab-links");
                var tabcontents = document.getElementsByClassName("tab-contents");
                function opentab(tabname){
                    for(tablink of tablinks){
                        tablink.classList.remove("active-link");
                    }
                    for(tabcontent of tabcontents){
                        tabcontent.classList.remove("active-tab");
                    }
                    event.currentTarget.classList.add("active-link");
                    document.getElementById(tabname).classList.add("active-tab");
                }
            </script>


















    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script>
        var typingEffect = new Typed(".multitext",{

            strings:[ "Revolutionizing Healthcare with Virtual Reality.. "],
            loop :true,
            typeSpeed:100,
            backSpeed:80,
            backDelay : 1500
        })

    </script>
    <script src="https://cdn.auth0.com/js/auth0-spa-js/2.0/auth0-spa-js.production.js"></script>
</body>
</html>